<IfModule mod_passenger.c>
  PassengerRoot /usr/lib/ruby/vendor_ruby/phusion_passenger/locations.ini
  PassengerDefaultRuby /usr/bin/ruby
  PassengerDefaultUser canvas
  PassengerStartTimeout 180
  PassengerPreloadBundler On
  PassengerFriendlyErrorPages On
</IfModule>