NODE_ENV=production
ECOSYSTEM_SECRET={{ ecosystem_secret }}
ECOSYSTEM_KEY={{ ecosystem_key }}
CIPHER_PASSWORD={{ cipher_password }}
FLICKR_API_KEY={{ flickr_api_key }}
YOUTUBE_API_KEY={{ youtube_api_key }}